body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main {
  background-color: #fafafa;
  min-height: 1000px;
  min-width: 1000px;
}
.input-form {
  margin-top: 20px;
}

input,
textarea {
  width: 100%;
  outline: none;
  border: 1px solid #d2d2d2;
  border-radius: 5px;
}
textarea:focus,
input:focus {
  outline: none;
  border-color: #1f2e3b;
}
::placeholder {
  color: black;
  font-size: 12px;
  /* padding: 0 5px; */
  font-family: "Open Sans", sans-serif;
  /* font-weight: bold; */
}
.row {
  display: flex;
}
.col {
  width: 45%;
  height: 300px;
  margin-left: 20px;
}
.title-form {
  border: 1px #d2d2d2 solid;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
  border-radius: 10px;
  color: #000000;
}
.questions-container {
  visibility: hidden;
}
.questions-container.active {
  visibility: visible;
  border: 1px #d2d2d2 solid;
  background-color: #ffffff;
  padding: 15px 0;
  border-radius: 10px;
}
.question input {
  margin: 5px 0;
}
textarea {
  line-height: 20px;
  height: 80px;
  padding: 5px;
}
input {
  line-height: 20px;
  padding: 8px;
}
.title-form .text-area-container {
  margin-top: 15px;
  /* padding-bottom: 15px; */
}

.input-container,
.text-area-container {
  width: 80%;
  margin: auto;
}
.question {
  width: 100%;
}
.icon {
  pointer-events: none;
}
button {
  color: white;
  height: 30px;
  width: 120px;
  border-radius: 5px;
  outline: none;
}
button:hover {
  opacity: 0.8;
}
.input-button-container {
  display: flex;
  margin: 10px;
  padding-left: 30px;
}
button.addOption,
button.addQuestion {
  background-color: #278881;
}
button.deleteQuestion {
  background-color: #ca4639;
  width: 135px;
}
button.addOption,
button.deleteQuestion {
  margin: 0 5px;
}
button.addQuestion {
  justify-content: initial;
  visibility: visible;
  position: relative;
  right: 310px;
  margin: 0;
}
.questions-container.active button.addQuestion {
  top: 70px;
  visibility: visible;
  position: relative;
}
.options-preview-conatainer {
  width: 80%;
  margin: auto;
}
.output-questions-canvas .options-preview-conatainer {
  margin: 0;
}
.option-preview {
  display: flex;
  padding: 10px 0;
}
.option-preview .option-text {
  flex-grow: 2;
}
.icon-container {
  align-self: center;
}
.option-text , .output, .viewer-paragraph{
  font-family: "Open Sans Condensed", sans-serif;
  white-space: pre-line;

}
.output {
  display: flex;
}
.checkbox-container input {
  width: 20px;
}
